/* loading part from: https://codepen.io/thetallweeks/pen/yybGra */
.preloader .loading {
    font-size: var(--size-font-big);
}

.preloader .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

.preloader .loading__what {
    color: var(--color-font-secondary);
    font-size: 1em;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

/* bike part */

.preloader {
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    flex-grow: 2;  /* take as much space as possible */
}

.preloader .bike {
    --bike-width: 600px;
    --bike-height: 400px;
    --bike-bar-width: 12px;
    --tdf-yellow: #e4c32f;
    --bike-black: rgb(44, 44, 44);
    --bike-grey: rgb(102, 102, 102);
    --bike-lt-grey: rgb(155, 155, 155);
    --time-pedals: 2s;
    --time-wheels: 3s;

    transform: translateX(25px);
    width: var(--bike-width);
    height: var(--bike-height);
}

@media screen and (max-width: 480px) {
    .preloader .bike {
        scale: .5;
    }
}

.preloader .part {
    position: absolute;
}

.preloader .bar {
    width: var(--bike-bar-width);
    position: absolute;
    background: var(--tdf-yellow);
}

.preloader .left-top {
    width: var(--bike-bar-width);
    height: 186px;
    margin-left: 128px;
    margin-top: 110px;
    transform: rotate(37deg);
}

.preloader .left-bottom {
    width: 8px;
    margin-left: 149px;
    margin-top: 203px;
    height: 170px;
    transform: rotate(-82deg);
}

.preloader .left {
    height: 230px;
    margin-left: 200px;
    margin-top: 80px;
    transform: rotate(-15deg);
}

.preloader .top {
    height: 224px;
    margin-left: 282px;
    margin-top: -10px;
    transform: rotate(90deg);
}

.preloader .bottom {
    margin-left: 317px;
    margin-top: 87px;
    height: 250px;
    transform: rotate(45deg);
}

.preloader .right {
    height: 230px;
    margin-left: 421px;
    margin-top: 60px;
    transform: rotate(-19deg);
}

.preloader .sadle {
    margin-left: 184px;
}

.preloader .sit-here {
    height: 0;
    width: 10px;
    position: absolute;
    border-bottom: 110px solid var(--bike-black);
    border-left: 0px solid transparent;
    border-right: 22px solid transparent;
    border-radius: 10px 0 10px 0;
    margin-top: -20px;
    margin-left: -35px;
    transform: rotate(98deg);
}

.preloader .sadlepen {
    width: 10px;
    height: 200px;
    margin-top: 30px;
    position: absolute;
    background: var(--bike-grey);
    transform: rotate(-15deg);
}

.preloader .wheel {
    width: 200px;
    height: 200px;
    margin-top: 170px;
    border-radius: 100%;
    border: 5px solid var(--bike-lt-grey);
    box-shadow: 0 0 0 5px var(--bike-grey);
    animation: wheelspin var(--time-wheels) linear infinite;
}

.preloader .wheel.left {
    margin-left: -25px;
}

.preloader .wheel.right {
    margin-left: 358px;
}

.preloader .wheel .spoke {
    width: 2px;
    height: 200px;
    margin-left: 98px;
    position: absolute;
    background: var(--bike-grey);
}

.preloader .wheel .spoke:nth-child(2) {
    transform: rotate(30deg);
}
.preloader .wheel .spoke:nth-child(3) {
    transform: rotate(60deg);
}
.preloader .wheel .spoke:nth-child(4) {
    transform: rotate(90deg);
}
.preloader .wheel .spoke:nth-child(5) {
    transform: rotate(120deg);
}
.preloader .wheel .spoke:nth-child(6) {
    transform: rotate(150deg);
}
.preloader .wheel .spoke:nth-child(7) {
    transform: rotate(180deg);
}
.preloader .wheel .spoke:nth-child(8) {
    transform: rotate(210deg);
}

.preloader .axis {
    width: 25px;
    height: 25px;
    margin-top: 265px;
    position: absolute;
    background: var(--bike-grey);
    border-radius: 100%;
}

.preloader .axis.left {
    margin-left: 67px;
}

.preloader .axis.right {
    margin-left: 451px;
}

.preloader .stem {
    width: 10px;
    height: 200px;
    margin-top: 45px;
    margin-left: 412px;
    position: absolute;
    background: var(--bike-grey);
    transform: rotate(-19deg);
}

.preloader .connector {
    width: 20px;
    height: 20px;
    margin-left: 374px;
    margin-top: 40px;
    transform: rotate(-19deg);
    background: var(--bike-lt-grey);
}

.preloader .prehandle {
    width: 15px;
    height: 40px;
    margin-left: 394px;
    margin-top: -45px;
    transform: rotate(42deg);
    background: var(--bike-lt-grey);
}

.preloader .handle {
    width: 25px;
    height: 25px;
    margin-left: 400px;
    margin-top: -45px;
    position: absolute;
    background: var(--bike-black);
    border-radius: 100%;
}

.preloader .pedals {
    margin-left: 227px;
    margin-top: 295px;
}

.preloader .pedals * {
    position: absolute;
}

.preloader .inside {
    width: 9px;
    height: 9px;
    background: var(--bike-grey);
    border-radius: 100%;
    margin-left: 3.5px;
    margin-top: 2.4px;
}
.preloader .outside {
    width: 80px;
    height: 80px;
    margin-top: -39px;
    margin-left: -37px;
    border: 5px solid var(--bike-black);
    border-radius: 100%;
}
.preloader .pedalstem {
    width: 12px;
    height: 80px;
    margin-left: 2px;
    background: var(--bike-lt-grey);
    border-radius: 10px 10px 0 0;

    transform-origin: 6px 7px;
}
.preloader .pedalstem.front {
    animation: pedalstem-front var(--time-pedals) linear infinite;
}
.preloader .pedalstem.back {
    transform: rotate(180deg);
    animation: pedalstem-back var(--time-pedals) linear infinite;
}
.preloader .pedalbase {
    width: 40px;
    height: 15px;
    margin-top: 70px;
    margin-left: -12px;
    background: black;
    border: 2px solid var(--tdf-yellow);
}
.preloader .pedalbase.front {
    animation: pedalbase-front var(--time-pedals) linear infinite;
}
.preloader .pedalbase.back {
    animation: pedalbase-back var(--time-pedals) linear infinite;
}

.preloader .inside {
    z-index: 6;
}
.preloader .axis {
    z-index: 5;
}
.preloader .pedalstem.front {
    z-index: 5;
}
.preloader .frame {
    z-index: 4;
}
.preloader .outside {
    z-index: 4;
}
.preloader .handlebar {
    z-index: 3;
}
.preloader .sit-here {
    z-index: 2;
}
.preloader .wheel {
    z-index: 1;
}
.preloader .pedalstem.back {
    z-index: 0;
}

@keyframes wheelspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pedalstem-front {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pedalstem-back {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes pedalbase-front {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes pedalbase-back {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(-180deg);
    }
}
