/* https://codepen.io/scottbram/pen/PoGpyKa */



.slider__label {
    display: none;
}

.slider {
    --range-slider-common-height: 0.5em;
    --range-slider-handle-width: 4rem;
    --range-slider-handle-height: 1em;

    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 999998;  /* need to make this huge due to map setting its z-index */

	align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    margin: 0 10px 2em 10px;
    background-color: var(--white);
}

.slider__content {
    display: flex;
	align-items: center;
	height: var(--range-slider-common-height);
    padding: 0.5em;
    width: 100%;
}

.slider__visual {
    width: 100%;
    position: relative;
}

.slider__range {
    height: 6px;
    position: absolute;
	left: 0;
	border-radius: 5px;
	background-color: rgb(233, 233, 233);
    transform: translateY(-50%);

}

.slider__range--left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.slider__range--right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.slider__range--mid {
    border-radius: 0;
	background-color: black;
}

.slider__handle {
    z-index: 1;
    position: absolute;
    /* width: var(--range-slider-handle-width); */
    height: var(--range-slider-handle-height);
    padding: 0 0.3em;
    border-radius: 2px;
    background-color: #fff;
    text-align: left;
    transform: translateY(-50%);

	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;
}

.slider__input::-ms-thumb,
.slider__input::-moz-range-thumb,
.slider__input::-webkit-slider-thumb {
    width: var(--range-slider-handle-width);
    height: var(--range-slider-handle-height);
    border: 0 none;
    border-radius: 0px;
    background: red;

    pointer-events: all;

}

.slider__input::-ms-fill-lower,
.slider__input::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}

.slider__input {
    z-index: 1;
    position: absolute;
    left: 0;
	width: 100%;
	height: var(--range-slider-common-height);

    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    pointer-events: none;
	-webkit-appearance: none;
}

.slider__input::-ms-track,
.slider__input::-moz-range-track {
	background: transparent;
    color: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
}