/* https://codepen.io/scottbram/pen/PoGpyKa */

.slider {
    --range-slider-common-height: 16px;
    --range-slider-handle-width: 24px;
    --range-slider-handle-height: 24px;

    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
	align-items: center;
    justify-content: center;
    width: 100%;
}

.slider__content {
    display: flex;
	align-items: center;
	height: var(--range-slider-common-height);
}

.slider__range {
    height: 10px;
    position: absolute;
	left: 0;
	border-radius: 10px;
	background-color: #ccc;
	margin: 0 7px;
}

.slider__range--mid {
    position: absolute;
    left: 0;
    top: -1px;
    height: 16px;
	border-radius: 14px;
	background-color: blue;
}

.slider__handle {
    z-index: 1;
    position: absolute;
	top: -5px;
    margin-left: -11px;
    width: var(--range-slider-handle-width);
    height: var(--range-slider-handle-height);
    border-radius: 25%;
    background-color: #fff;
    text-align: left;

	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;
}

.slider__input::-ms-thumb,
.slider__input::-moz-range-thumb,
.slider__input::-webkit-slider-thumb {
    width: var(--range-slider-handle-width);
    height: var(--range-slider-handle-height);
    border: 0 none;
    border-radius: 0px;
    background: red;

    pointer-events: all;

}

.slider__input::-ms-fill-lower,
.slider__input::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}

.slider__input {
    z-index: 1;
    position: absolute;
	width: 100%;
	height: var(--range-slider-common-height);

    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    pointer-events: none;
	-webkit-appearance: none;
}

.slider__input::-ms-track,
.slider__input::-moz-range-track {
	background: transparent;
    color: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
}