/* primary colors: main content
 * secondary: header...
 * terciary: other */


:root {
    --font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-sz-header: 1.75em;
    --size-font-big: 2em;
    --header-height: 3.5em;

    /* colors */


    /* dark mode colors */
    --dark-dark-black: #010409;
    --dark-mid-black: #0d1117;
    --dark-light-black: #161b22;
    --dark-white: #8b949e;
    --dark-mid-white: #c9d1d9;
    --dark-lite-white: #f0f6fc;
    --dark-red: rgb(134, 18, 18);

    /* light mode colors */
    --black: black;
    --grey: #C4C4C4;
    --light-grey: #E5E5EC;
    --light-green: #89fd98;
    --green: rgb(3, 128, 86);
    --red: #ff5e8e;
    --white: rgb(243, 240, 240);
}

/* default theme is white... */
:root, :root.light {
    --color-primary: var(--white);
    --color-font-primary: var(--black);
    --color-secondary: var(--grey);
    --color-font-secondary: var(--green);
    --color-terciary: var(--light-grey);
    --color-font-terciary: var(--black);
    --color-alert: var(--red);
    --color-font-alert: var(--white);
}

/* but we support also dark mode */
:root.dark {
    --color-primary: var(--dark-dark-black);
    --color-font-primary: var(--dark-white);
    --color-secondary: var(--dark-mid-black);
    --color-font-secondary: var(--dark-mid-white);
    --color-terciary: var(--dark-light-black);
    --color-font-terciary: var(--dark-lite-white);
    --color-alert: var(--dark-red);
    --color-font-alert: var(--dark-white);
}

:root {
    --font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --black: black;
    --grey: #C4C4C4;
    --light-grey: #E5E5EC;
    --light-green: #74ff87;
    --green: rgb(4, 97, 66);
    --red: #ff5e8e;
    --white: white;
    --color-font-primary: var(--black);
    /* --color-font-secondary: var(--black); */
    --color-primary: var(--white);
    --color-secondary: var(--light-green);
    --color-alert-font: var(--white);
    --color-alert: var(--red);
    --color-bg-terciary: var(--light-grey);
    --font-sz-header: 1.75em;
    --header-height: minmax(3.5em, 3.5em);
    --color-bg-secondary: rgb(43, 43, 43);
    --color-font-secondary: rgb(4, 214, 144);
    --size-font-big: 2em;

    --dark-dark-black: #010409;
    --dark-mid-black: #0d1117;
    --dark-light-black: #161b22;
    --dark-white: #8b949e;
    --dark-mid-white: #c9d1d9;
    --dark-lite-white: #f0f6fc;
}


/*******************************************************************************
 *                           G E N E R A L
 ******************************************************************************/


* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font-family);
    cursor: default;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #2b3036; color: #c5c8cc;
}

/* todo: remove */
.map {
    filter: brightness(30%);
}



/*******************************************************************************
 *                          I N S T R U C T I O N S
 ******************************************************************************/

 .instructions {
    display: inline-block;
    border: 2px solid var(--color-alert);
    color: var(--color-font-primary);
    padding: 0;
 }

 .instructions__note {
    text-transform: uppercase;
    font-weight: bolder;
    display: block;
    background-color: var(--color-alert);
    color: var(--color-alert-font);
    margin-bottom: .3em;
    font-size: larger;
    padding: .1em .5em;
    font-style: normal;
 }

 .instructions__text {
     padding: 1em;
 }

/*******************************************************************************
 *                            H E A D E R
 ******************************************************************************/

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--header-height);
    justify-content: space-between;
    background-color: var(--color-bg-secondary);
    padding: 0.3em;
}

.header__heading {
    /* need to center the text within... */
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: var(--color-font-secondary);
    font-size: var(--size-font-big);
    font-weight: normal;
}

.header__controls {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    padding: 0 .5em;
    column-gap: .3em;
}

.header__button {
    transition: all ease-in-out 0.2s;
    /* border: 1px solid var(--color-font-secondary); */
    border-radius: 9px;
    border: none;
    cursor: pointer;
    background-color: var(--color-bg-secondary);
    padding: .1em 1.2em;
    color: var(--color-font-secondary);
}

.header__button:hover {
    background-color: var(--color-font-secondary);
    color: var(--color-bg-secondary);
}

.dark_mode__text {
    display: none;
}

.app__dark_mode {
    border: none;
}



/*******************************************************************************
 *                             M A I N
 ******************************************************************************/

 .app__main {
     display: flex;
     flex-direction: row;
     flex: 1;  /* take the rest of the width */
     padding-top: 0.3em;
 }

 .resizer {
     display: flex;
 }

 .resizer__left {
     width: 50%;
 }

 .resizer__visual {
     width: 1px;
     height: 100%;
     background-color: var(--black);
 }

 .resizer__mid {
     padding: .3em 1em;
     cursor: col-resize;
 }

 .resizer__right {
    flex: 1 1 0%;
 }

/*******************************************************************************
 *                           B I G   M A P
 ******************************************************************************/
.app__map {
    position: relative;
    grid-area: map;
    background-color: "white";
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

/** mock **/
.map_area {
    display: flex;
    flex-direction: column;
}

#map {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
}

.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999998;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100%;
    /* TODO **/
    padding: 1em 1em 1em 3em;
}

/*******************************************************************************
 *                          D E S C R I P T I O N
 ******************************************************************************/
.app__data {
    grid-area: data;
    background-color: white;
    height: 100%;
    overflow-y: auto;
}

.description {
    padding: 1.5em;
}

/** also filters here **/
/*******************************************************************************
 *                            C H A R T S
 ******************************************************************************/
.text__entry {}

.chart {}