/*******************************************************************************
 *                         C O N S T A N T S
 ******************************************************************************/

:root {
    --font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-sz-header: 1.75em;
    --size-font-big: 2em;
    --header-height: 3.5em;

    /***************************************************************************
     * colors
     * ======
     *
     * primary colors: main content
     * secondary: header...
     * terciary: other
     **************************************************************************/

    /* dark mode colors */
    --dark-dark-black: #010409;
    --dark-mid-black: #222222;
    --dark-light-black: #161b22;
    --dark-white: #8b949e;
    --dark-mid-white: #c9d1d9;
    --dark-lite-white: #f0f6fc;
    --dark-red: rgb(134, 18, 18);
    --dark-yellow: rgb(145, 161, 0);
    --dark-orange: rgb(167, 100, 0);

    /* light mode colors */
    --black: black;
    --grey: #f7f7f7f7;
    --light-blue: rgb(29, 127, 255);
    --purple: rgb(96, 39, 172);
    --light-grey: #E5E5EC;
    --light-green: #89fd98;
    --green: rgb(2, 46, 31);
    --red: #ff5e8e;
    --white: white;
}

/* default theme is white... */
:root {
    --color-primary: var(--white);
    --color-font-primary: var(--black);
    --color-secondary: var(--grey);
    --color-font-secondary: var(--green);
    --color-terciary: var(--light-grey);
    --color-font-terciary: var(--black);
    --color-alert: var(--red);
    --color-font-alert: var(--white);
    --map-brightness: 100%;
    --link-default-color: var(--light-blue);
    --link-visited-color: var(--purple);
}

/* just a copy in case the user has a dark mode in the browser */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: var(--dark-dark-black);
        --color-font-primary: var(--dark-white);
        --color-secondary: var(--dark-mid-black);
        --color-font-secondary: var(--dark-mid-white);
        --color-terciary: var(--dark-light-black);
        --color-font-terciary: var(--dark-lite-white);
        --color-alert: var(--dark-red);
        --color-font-alert: var(--dark-white);
        --map-brightness: 40%;
        --link-default-color: var(--dark-yellow);
        --link-visited-color: var(--dark-orange);
    }
}

/* the themes definitions - make sure it overrides previous values */
:root.light {
    --color-primary: var(--white);
    --color-font-primary: var(--black);
    --color-secondary: var(--grey);
    --color-font-secondary: var(--green);
    --color-terciary: var(--light-grey);
    --color-font-terciary: var(--black);
    --color-alert: var(--red);
    --color-font-alert: var(--white);
    --map-brightness: 100%;
    --link-default-color: var(--light-blue);
    --link-visited-color: var(--purple);
}

/* but we support also dark mode */
:root.dark {
    --color-primary: var(--dark-dark-black);
    --color-font-primary: var(--dark-white);
    --color-secondary: var(--dark-mid-black);
    --color-font-secondary: var(--dark-mid-white);
    --color-terciary: var(--dark-light-black);
    --color-font-terciary: var(--dark-lite-white);
    --color-alert: var(--dark-red);
    --color-font-alert: var(--dark-white);
    --map-brightness: 40%;
    --link-default-color: var(--dark-yellow);
    --link-visited-color: var(--dark-orange);
}

/* 480< phone, 768 < tables */

/* mobile phone */
/* TODO: remove important **/
@media screen and (max-width: 480px) {
    :root {
        --size-font-big: 1.3em;
    }

    .app {
        overflow: auto !important;
    }

    .app__header {
        position: sticky !important;
        top: 0 !important;
        z-index: 999999999 !important; /* due to leaflet thigs.. */
    }

    .app__main {
        flex-direction: column !important;
    }

    .app__map {
        height: calc(80vh - var(--header-height)) !important;
        width: 100% !important;
    }

    .resizer--left {
        width: auto !important;
    }

    .resizer--mid {
        display: none !important;
    }
}


/*******************************************************************************
 *                           G E N E R A L
 ******************************************************************************/


* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font-family);
    cursor: default;
}

a {
    text-decoration: underline;
    color: var(--link-default-color);
}

a:hover, a:focus, a:visited {
    color: var(--link-visited-color);
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--color-font-primary);
}

/*******************************************************************************
 *                             M O D A L
 ******************************************************************************/

 .modal {
    display: none;
    position: fixed;
    z-index: 999999; /* Sit on top, temporary fix for leaflet z-index, TODO: fix */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    height: 100vh;
    width: 100vw;
  }

  .modal__content {
    margin: 15% auto; /* 15% from the top and centered */
    background-color: var(--color-primary);
    padding: 20px;
    border: 1px solid var(--color-font-primary);
    width: min(80%, 50em); /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .modal__close {
    color: var(--color-font-primary);
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    transition: all linear .2s;
    text-decoration: none;
    cursor: pointer;
  }

  .modal__heading {
    display: inline-block;
    color: var(--color-font-secondary);
    border-bottom: 1px solid var(--color-font-primary);
  }

  .modal__text {
      margin: 0.5em 0;
      padding: .5em .1em;
  }

  .modal__close:hover,
  .modal__close:focus {
    color: var(--color-font-secondary);
  }


/*******************************************************************************
 *                          I N S T R U C T I O N S
 ******************************************************************************/

 .instructions {
    display: inline-block;
    border: 2px solid var(--color-alert);
    color: var(--color-font-primary);
    padding: 0;
 }

 .instructions__note {
    text-transform: uppercase;
    font-weight: bolder;
    display: block;
    background-color: var(--color-alert);
    color: var(--color-alert-font);
    margin-bottom: .3em;
    font-size: larger;
    padding: .1em .5em;
    font-style: normal;
 }

 .instructions__text {
     padding: 1em;
 }

/*******************************************************************************
 *                            H E A D E R
 ******************************************************************************/

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--header-height);
    justify-content: space-between;
    background-color: var(--color-secondary);
    /* padding: 0.3em; */
}

.header__heading {
    /* need to center the text within... */
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: var(--color-font-secondary);
    font-size: var(--size-font-big);
    font-weight: normal;
}

.header__controls {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 .5em;
    column-gap: .3em;
}

.header__button {
    transition: all ease-in-out 0.2s;
    /* border: 1px solid var(--color-font-secondary); */
    border-radius: 9px;
    border: none;
    cursor: pointer;
    background-color: var(--color-secondary);
    padding: 1.2em;
    color: var(--color-font-secondary);
    height: fit-content;
}

.header__button:hover {
    background-color: var(--color-font-secondary);
    color: var(--color-secondary);
}

.dark_mode__text {
    display: none;
}

.app__dark_mode {
    border: none;
}



/*******************************************************************************
 *                             M A I N
 ******************************************************************************/

/* todo: somthing about !important */
:root .app__main, :root.loading .app__main {
    visibility: hidden !important;
    height: 0;  /* do not tamper with scrolling on preloader */
}

:root .preloader, :root.loading .preloader {
    display: flex !important;
}

:root.ready .app__main {
    visibility: visible !important;
    height: auto;
}

:root.ready .preloader {
    display: none !important;
}

 .app__main {
     display: flex;
     flex-direction: row;
     flex: 1;  /* take the rest of the width */
     /* padding-top: 0.3em; */
 }

 .resizer {
     display: flex;
 }

 .resizer__left {
     width: 50%;
 }

 .resizer__visual {
     width: 1px;
     height: 100%;
     background-color: var(--color-font-primary);
 }

 .resizer__mid {
     padding: .3em 1em;
     cursor: col-resize;
 }

 .resizer__right {
    flex: 1 1 0%;
 }

/*******************************************************************************
 *                           B I G   M A P
 ******************************************************************************/

.app__map {
    position: relative;
    grid-area: map;
    background-color: "white";
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    filter: brightness(var(--map-brightness));
}

.map_area {
    display: flex;
    flex-direction: column;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.unselect {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    z-index: 7777777;
}

.unselect--invisible {
    display: none;
}

.unselect__btn {
    background: white;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.unselect__btn:hover {
    background: #f4f4f4;
}

.unselect__btn > i {
    color: var(--red);
    width: 30px;  /* todo */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
}

.btn__text {
    width: 0;
    overflow: hidden;
    padding: 0;
    /* width: 0;
    max-width: 0;
    overflow: hidden; */
}

.btn:hover > .btn__text {
    padding: 0 .5em;
    width: min-content;
}

/*******************************************************************************
 *                          D E S C R I P T I O N
 ******************************************************************************/

.text {
    overflow: auto;
    padding-bottom: 2em;
}

.text__heading {
    display: flex;
    background: var(--color-terciary);
    color: var(--color-font-terciary);
    padding-left: 2em;
    position: relative;
}

.about {
    margin: 0.5em;
}

.about__year {
    font-size: .7em;
}

.app__text {
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
}

.description {
    padding: 1.5em;
}

.text__about {
    /* mock */
    min-height: 20vh;
    padding: 0 2em;
}



/*******************************************************************************
 *                           F I L T E R S
 ******************************************************************************/

.filters__btn {
    margin-left: auto;
    display: flex;
    column-gap: .5em;
    text-decoration: none;
    align-items: center;
    padding: 0 1em 0 2em;
    color: inherit;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
    user-select: none;
}

.filters__btn > i {
    width: 1em;
}

.filters__btn:hover, .filters__btn:visited {
    color: inherit;
}

.filters__btn:hover {
    background: var(--color-font-terciary);
    color: var(--color-terciary);
}

.filters__btn--selected {
    background: var(--color-font-terciary);
    color: var(--color-terciary);
}

.filters__btn--selected:hover {
    border: 1px solid var(--color-terciary);
}

.filters__btn-text {
    width: 4em;
}

.filters {
    transition:
        height .5s ease-in-out,
        padding-top .5s ease,
        padding-bottom .5s ease;
    height: max(1em, min-content);
    background: var(--color-font-terciary);
    color: var(--color-terciary);
    margin-bottom: 2em;
    padding: 1.5em;
    /* max-height: 100vh;  for animation */
}

.filters--hidden {
    height: 0;
    max-height: 0;
    padding: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    overflow: hidden;
}

.filters__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filters__li {
    display: flex;
    flex-direction: row-reverse;
    column-gap: .3em;
}

/*******************************************************************************
 *                            C H A R T S
 ******************************************************************************/
.text__entry { height: 20vh; }

.chart {}

.highlight--donut {
    filter: brightness(150%);
}

/* TODO: mobile: idk about data not showing up... */