/*******************************************************************************
 *                         C O N S T A N T S
 ******************************************************************************/

:root {
    --font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-sz-header: 1.75em;
    --size-font-big: 2em;
    --header-height: 3.5em;

    /***************************************************************************
     * colors
     * ======
     *
     * primary colors: main content
     * secondary: header...
     * terciary: other
     **************************************************************************/

    /* dark mode colors */
    --dark-dark-black: #010409;
    --dark-mid-black: #222222;
    --dark-light-black: #161b22;
    --dark-white: #8b949e;
    --dark-mid-white: #c9d1d9;
    --dark-lite-white: #f0f6fc;
    --dark-red: rgb(134, 18, 18);
    --dark-yellow: rgb(145, 161, 0);
    --dark-orange: rgb(167, 100, 0);

    /* light mode colors */
    --black: black;
    --grey: #f7f7f7f7;
    --light-blue: rgb(29, 127, 255);
    --purple: rgb(96, 39, 172);
    --light-grey: #E5E5EC;
    --light-green: #89fd98;
    --green: rgb(2, 46, 31);
    --red: #ff5e8e;
    --white: white;
}

/* default theme is white... */
:root {
    --color-primary: var(--white);
    --color-font-primary: var(--black);
    --color-secondary: var(--grey);
    --color-font-secondary: var(--green);
    --color-terciary: var(--light-grey);
    --color-font-terciary: var(--black);
    --color-alert: var(--red);
    --color-font-alert: var(--white);
    --map-brightness: 100%;
    --link-default-color: var(--light-blue);
    --link-visited-color: var(--purple);
}

/* just a copy in case the user has a dark mode in the browser */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: var(--dark-dark-black);
        --color-font-primary: var(--dark-white);
        --color-secondary: var(--dark-mid-black);
        --color-font-secondary: var(--dark-mid-white);
        --color-terciary: var(--dark-light-black);
        --color-font-terciary: var(--dark-lite-white);
        --color-alert: var(--dark-red);
        --color-font-alert: var(--dark-white);
        --map-brightness: 40%;
        --link-default-color: var(--dark-yellow);
        --link-visited-color: var(--dark-orange);
    }
}

/* the themes definitions - make sure it overrides previous values */
:root.light {
    --color-primary: var(--white);
    --color-font-primary: var(--black);
    --color-secondary: var(--grey);
    --color-font-secondary: var(--green);
    --color-terciary: var(--light-grey);
    --color-font-terciary: var(--black);
    --color-alert: var(--red);
    --color-font-alert: var(--white);
    --map-brightness: 100%;
    --link-default-color: var(--light-blue);
    --link-visited-color: var(--purple);
}

/* but we support also dark mode */
:root.dark {
    --color-primary: var(--dark-dark-black);
    --color-font-primary: var(--dark-white);
    --color-secondary: var(--dark-mid-black);
    --color-font-secondary: var(--dark-mid-white);
    --color-terciary: var(--dark-light-black);
    --color-font-terciary: var(--dark-lite-white);
    --color-alert: var(--dark-red);
    --color-font-alert: var(--dark-white);
    --map-brightness: 40%;
    --link-default-color: var(--dark-yellow);
    --link-visited-color: var(--dark-orange);
}


/*******************************************************************************
 *                           G E N E R A L
 ******************************************************************************/


* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font-family);
    cursor: default;
}

a {
    text-decoration: underline;
    color: var(--link-default-color);
}

a:hover, a:focus, a:visited {
    color: var(--link-visited-color);
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--color-font-primary);
}

/*******************************************************************************
 *                             M O D A L
 ******************************************************************************/

 .modal {
    display: none;
    position: fixed;
    z-index: 999999; /* Sit on top, temporary fix for leaflet z-index, TODO: fix */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    height: 100vh;
    width: 100vw;
  }

  .modal__content {
    margin: 15% auto; /* 15% from the top and centered */
    background-color: var(--color-primary);
    padding: 20px;
    border: 1px solid var(--color-font-primary);
    width: min(80%, 50em); /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .modal__close {
    color: var(--color-font-primary);
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    transition: all linear .2s;
    text-decoration: none;
    cursor: pointer;
  }

  .modal__heading {
    display: inline-block;
    color: var(--color-font-secondary);
    border-bottom: 1px solid var(--color-font-primary);
  }

  .modal__text {
      margin: 0.5em 0;
      padding: .5em .1em;
  }

  .modal__close:hover,
  .modal__close:focus {
    color: var(--color-font-secondary);
  }


/*******************************************************************************
 *                          I N S T R U C T I O N S
 ******************************************************************************/

 .instructions {
    display: inline-block;
    border: 2px solid var(--color-alert);
    color: var(--color-font-primary);
    padding: 0;
 }

 .instructions__note {
    text-transform: uppercase;
    font-weight: bolder;
    display: block;
    background-color: var(--color-alert);
    color: var(--color-alert-font);
    margin-bottom: .3em;
    font-size: larger;
    padding: .1em .5em;
    font-style: normal;
 }

 .instructions__text {
     padding: 1em;
 }

/*******************************************************************************
 *                            H E A D E R
 ******************************************************************************/

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--header-height);
    justify-content: space-between;
    background-color: var(--color-secondary);
    padding: 0.3em;
}

.header__heading {
    /* need to center the text within... */
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: var(--color-font-secondary);
    font-size: var(--size-font-big);
    font-weight: normal;
}

.header__controls {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    padding: 0 .5em;
    column-gap: .3em;
}

.header__button {
    transition: all ease-in-out 0.2s;
    /* border: 1px solid var(--color-font-secondary); */
    border-radius: 9px;
    border: none;
    cursor: pointer;
    background-color: var(--color-secondary);
    padding: .1em 1.2em;
    color: var(--color-font-secondary);
}

.header__button:hover {
    background-color: var(--color-font-secondary);
    color: var(--color-secondary);
}

.dark_mode__text {
    display: none;
}

.app__dark_mode {
    border: none;
}



/*******************************************************************************
 *                             M A I N
 ******************************************************************************/

 .app__main {
     display: flex;
     flex-direction: row;
     flex: 1;  /* take the rest of the width */
     padding-top: 0.3em;
 }

 .resizer {
     display: flex;
 }

 .resizer__left {
     width: 50%;
 }

 .resizer__visual {
     width: 1px;
     height: 100%;
     background-color: var(--color-font-primary);
 }

 .resizer__mid {
     padding: .3em 1em;
     cursor: col-resize;
 }

 .resizer__right {
    flex: 1 1 0%;
 }

/*******************************************************************************
 *                           B I G   M A P
 ******************************************************************************/

.app__map {
    position: relative;
    grid-area: map;
    background-color: "white";
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    filter: brightness(var(--map-brightness));
}

.map_area {
    display: flex;
    flex-direction: column;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*******************************************************************************
 *                          D E S C R I P T I O N
 ******************************************************************************/

.text {
    overflow: auto;
}
.app__text {
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
}

.description {
    padding: 1.5em;
}

.text__about {
    /* mock */
    height: 20vh;
}

/** also filters here **/
/*******************************************************************************
 *                            C H A R T S
 ******************************************************************************/
.text__entry { height: 20vh; }

.chart {}